@use 'reset';
@use 'vars';

body {
  background-image: url(https://pixabay.com/get/g22e341cf349404c5724a9f258aa0d5d2e85d62391db0b8c90ed825ee190fc96b6f067dcd3a8b394106d4284b11ff35f1_1920.jpg);
  background-size: cover;
  font-family: vars.$font;
  color: vars.$color-light;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
